@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.jost-<uniquifier> {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  overflow-x: hidden;
}

:root {
  --main-color: #ffff;
  --secondary-color: #2091f9;
  scroll-behavior: smooth;
  font-family: 'Jost', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

.container {
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}
