.footer {
  background: var(--background-color);
  padding: 100px 0;
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 76px;
    .footer__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: var(--light-text-color);
      text-align: center;
      .footer__list-title {
        font-family: var(--header-font);
        padding: 10px 0;
        font-size: 20px;
      }
      .footer__list-item {
        font-family: var(--main-font);
        font-size: 15px;
      }
    }
    .footer__list-contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 auto;
      .footer__list-item {
        display: flex;
        align-items: center;
      }
    }
    .footer__social {
      display: flex;
      justify-content: center;
      gap: 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .footer__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex: 1;
      gap: 30px;
      .footer__list {
        text-align: start;
        gap: 20px;
      }
      .footer__list-contact {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    .footer__container {
      flex-direction: row;
      .footer__list {
        text-align: start;
        gap: 20px;
      }
    }
  }
}
