.pricing {
  background: var(--background-color);
  padding: 0 28px;
  margin-bottom: 80px;

  .pricing__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 80px;

    .pricing__text {
      color: var(--light-text-color);
      font-family: var(--main-font);
      padding: 10px;
      text-align: center;
      margin-top: 80px;

      .pricing__title {
        font-size: 48px;
        margin-bottom: 10px;
      }
      .pricing__subtitle {
        font-size: 28px;
      }
    }

    .pricing__cards {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .pricing__card {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background: var(--main-color);
        border-radius: 10px;
        padding: 20px;
        .pricing__plan-text {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 0 auto;
          width: 150px;
          gap: 10px;
          .pricing__plan-title {
            font-family: var(--header-font);
            color: var(--dark-text-color);
            font-size: 20px;
          }
          .pricing__plan-description {
            font-family: var(--main-font);
            color: var(--dark-text-color);
          }
        }
        .pricing__price {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .pricing__price-value {
            font-size: 74px;
            padding: 8px;
            font-family: var(--header-font);
            color: var(--dark-text-color);
            overflow: hidden;
          }
          .pricing__col {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .pricing__currency {
              font-size: 20px;
              font-family: var(--header-font);
            }
            .pricing__plan-duration {
              font-family: var(--main-font);
            }
          }
        }
        .pricing__features {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: var(--main-font);
          gap: 10px;
          .pricing__feature {
            padding: 10px;
            font-size: 15px;
          }
        }
      }
      .pricing__card--highlighted {
        background: var(--secondary-color);
        color: var(--main-color);
        border: 1px solid var(--border-color);

        .pricing__plan-text {
          .pricing__plan-title,
          .pricing__plan-description {
            color: var(--main-color);
          }
        }
        .pricing__price {
          .pricing__price-value {
            color: var(--main-color);
          }
        }
        .pricing__button {
          background: var(--main-color);
          color: var(--secondary-color);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .pricing {
    .pricing__container {
      .pricing__cards {
        align-items: center;
        .pricing__card {
          width: 330px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .pricing {
    .pricing__container {
      .pricing__cards {
        flex-direction: row;
        justify-content: center;
        gap: 20px !important;
        .pricing__card {
          padding: 40px;
        }
        .pricing__card--highlighted {
          padding: 83px 40px;
        }
      }
    }
  }
}
