.features {
  .features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
    .features__header {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .features__title {
        font-family: var(--main-font);
        font-size: 48px;
        padding: 10px;
        text-align: center;
      }
      .features__description {
        font-family: var(--main-font);
        font-size: 28px;
        text-align: center;
        padding: 10px;
        span {
          display: none;
        }
      }
    }
    .features__list {
      display: flex;
      flex-direction: column;
      width: 250px;
      .features__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 18px;
        .features__item-icon {
          width: 45px;
        }
        .features__item-title {
          font-family: var(--header-font);
          text-align: center;
          font-size: 20px;
          padding: 10px 0;
          line-height: 1.2;
        }
        .features__item-description {
          font-family: var(--main-font);
          text-align: center;
          padding: 10px 0;
          font-size: 20px;
          line-height: 1.2;
        }
      }
    }
    .features__player-mobile {
      .features__player-wrapper {
        position: relative;
        .features__player-btn-mobile {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: none;
          border: none;
        }
      }
    }
    .features__player {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .features {
    padding-bottom: 0;
    .features__container {
      padding: 0 30px;
      margin-bottom: 0;
      .features__player-mobile {
        display: none;
      }

      .features__list {
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 30px;
        .features__item {
          padding: 0;
        }
      }
      .features__player {
        display: flex;
        position: relative;
        padding: 50px 0;
        .feature__player-btn {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .feature__player-btn-icon {
            width: 100px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 80px;
    .features__container {
      .features__list {
        gap: 52px;
        .features__item {
          width: 250px;
        }
      }
    }
  }
}
