.newsletter {
  padding: 30px 16px;
  text-align: center;
  margin-bottom: 60px;
  .newsletter__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    .newsletter__text-wrapper {
      .newsletter__subtitle {
        font-family: var(--header-font);
      }
      .newsletter__title {
        font-family: var(--main-font);
        font-size: 48px;
        color: var(--dark-text-color);
        padding: 10px;
      }
      .newsletter__description {
        font-family: var(--main-font);
        font-size: 20px;
        line-height: 1.5;
        padding: 10px;
      }
    }

    .newsletter__right-block {
      .newsletter__desktop-text {
        display: none;
      }
      .newsletter__form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .newsletter__form-title {
          font-family: var(--header-font);
        }

        .newsletter__form-description {
          font-family: var(--main-font);
          color: var(--secondary-text-color);
        }

        .newsletter__form {
          font-family: var(--main-font);
          display: flex;
          flex-direction: column;
          gap: 12px;
          .newsletter__input {
            padding: 12px 15px;
            border: 1px solid var(--secondary-text-color);
            border-radius: 30px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .newsletter {
    padding: 0 30px;
    .newsletter__container {
      padding: 0 30px;
      align-items: center;
      .newsletter__text-wrapper {
        width: 550px;
      }
      .newsletter__right-block {
        .newsletter__form-wrapper {
          .newsletter__form {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .newsletter {
    .newsletter__container {
      display: flex;
      flex-direction: row;
      .newsletter__text-wrapper {
        display: none;
      }
      .newsletter__right-block {
        .newsletter__desktop-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: start;
          .newsletter__subtitle {
            font-family: var(--header-font);
            padding: 10px;
          }
          .newsletter__title {
            font-family: var(--main-font);
            font-size: 48px;
            color: var(--dark-text-color);
            padding: 10px;
          }
          .newsletter__description {
            font-family: var(--main-font);
            font-size: 20px;
            line-height: 1.5;
            padding: 10px;
          }
        }
        .newsletter__form-wrapper {
          align-items: flex-start;
          padding: 10px;
          .newsletter__form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
