.testimonials {
  margin-bottom: 80px;
  .testimonials__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    .testimonials__title {
      font-family: var(--main-font);
      color: var(--dark-text-color);
      text-align: center;
      font-size: 48px;
      padding: 10px;
    }
    .testimonials__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      gap: 50px;
      .testimonials__description {
        font-family: var(--secondary-font);
        color: var(--secondary-text-color);
        font-size: 14px;
        font-weight: 700;
        text-align: center;
      }
      .testimonials__user {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 12px;
        .testimonials__user-info {
          display: flex;
          flex-direction: column;
          gap: 8px;
          font-family: var(--secondary-font);
          .testimonials__user-name {
            font-weight: 700;
            font-size: 10px;
          }
          .testimonials__user-role {
            font-size: 12px;
          }
        }
      }
    }
  }
}
